@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #059669 #042f2e;
}

/* Chrome, Edge e Safari */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #042f2e; /* emerald-950 */
}

::-webkit-scrollbar-thumb {
  background: #047857; /* emerald-700 */
  border-radius: 9999px;
  border: 2px solid #042f2e;
}

::-webkit-scrollbar-thumb:hover {
  background: #059669; /* emerald-600 */
}

::-webkit-scrollbar-corner {
  background: #042f2e;
}
